input.hidden(
    tg-file-change="vm.importTuesmon(files)"
    type="file"
)
.import-project-logo
    img(
        src="/#{v}/images/logo-color.png"
        alt="Tuesmon Logo"
    )
.import-project-name-wrapper
    span.import-project-name Tuesmon
    p.import-project-description(translate="PROJECT.IMPORT.TUESMON.SELECTOR")
